# Web App Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DOCS_URL=http://localhost:5173
NEXT_PUBLIC_REFRESH_TOKEN_EXPIRATION_DAYS=30

# Development
NODE_ENV=development
